body {
    background-color: #17131B;
    color: #DBC8EA;
    padding-top: 25px;
}

.purple {
    background-color: #9200FF !important;
}

.purpleText {
    color: #B450FF !important;
}

input {
    background-color: #2b272d !important;
    color: #DBC8EA !important;
}

input:focus {
    border-color: #4e4752 !important;
}

#mainMenu {
    height: 100%;
    background-color: transparent;
    border-right: 1px solid rgba(255,255,255,.08);
}

#mainMenu .bottomMenu {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#login {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    max-width: 300px;
}